* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --main-color: #fff;
   --h1-color: #f2c94c;
}

body {
   background-color: #2c3347;
   color: var(--main-color);
}

div.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

h1 {
   margin-bottom: 30px;
   text-align: center;
   font-size: 2.6rem;
   letter-spacing: 2px;
   font-family: "Montserrat", "monospace";
   text-transform: uppercase;
   color: var(--h1-color);
   text-shadow: 0 0 50px var(--h1-color);
}

div.display {
   width: 300px;
   height: 300px;
   position: relative;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   display: flex;
   border: 1px solid var(--main-color);
   border-radius: 50%;
}

span.time {
   font-size: 4rem;
   font-family: monospace;
}

div.buttons {
   margin-top: 10px;
   display: grid;
   grid-template-columns: repeat(2, 50%);
}

button {
   background-color: transparent;
   border: none;
   outline: none;
}

img {
   cursor: pointer;
   transition: 0.15s;
}

img:hover {
   transform: scale(0.95);
}

.hidden {
   display: none;
}
